html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff99cc, #ff66b2, #e64980);
}

.banner {
    background-color: #ffb4b4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.banner img {
    height: 60px;
    margin-right: 20px;
}

.menu {
    margin-left: auto;
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: transparent;
    transition: color 0.3s;
}


.menu a:hover {
    background-color: #d6418c;
}

.profile-container {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    height: 550px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.profile-heading {
    background-color: #8a2be2;
    color: white;
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.action-buttons {
    background-color: #999;
    padding: 20px;
    position: absolute;
    top: 61px;
    left: 0;
    bottom: 0;
    width: 20%;
    box-sizing: border-box;
}

.action-buttons button {
    display: block;
    width: calc(100% - 20px);
    margin: 5px 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #999;
    color: black;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

.action-buttons button:hover {
    background-color: #777;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border: 2px solid red;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-name{
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Love Ya Like A Sister', sans-serif;
    right: 300px;
}

.profile-age{
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Love Ya Like A Sister', sans-serif;
}

.profile-bio {
    width: 300px;
    height: 200px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    position: absolute;
    top: 350px;
    right: 600px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

.hobbies-heading {
    position: absolute;
    top: 200px;
    left: 935px;
    font-size: 20px;
    font-family: 'Love Ya Like A Sister', sans-serif;
}

.hobbies {
    position: absolute;
    top: 250px;
    left: 910px;
}

.hobbies input[type="text"] {
    display: block;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.profile-squares {
    position: absolute;
    top: 245px;
    right: 380px;
}

.square {
    width: 150px;
    height: 150px;
    background-color: white;
    border: 2px solid red;
    margin-bottom: 20px;
}

.profile-info {
    position: absolute;
    top: 80px;
    left: 380px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-details {
    margin-bottom: 5px;
    text-align: center;
}

.profile-location {
    margin-top: auto;
}

.profile-name,
.profile-age,
.profile-location {
    font-family: 'Love Ya Like a Sister', sans-serif;
}