html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff99cc, #ff66b2, #e64980);
}

.banner {
    background-color: #fbb3b3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.banner img {
    height: 60px;
    margin-right: 20px;
}

.create-profile-text {
    font-size: 24px;
    font-weight: bold;
    color: black;
    font-family: 'Love Ya Like A Sister', cursive;
    margin-left: 200px;
}
.menu {
    margin-left: auto;
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: transparent;
    transition: color 0.3s;
}

.menu a:hover {
    background-color: #d6418c;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -50px;
}

.profile-section {
    background-color: #fbb3b3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) calc(100% - 20px);
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

@font-face {
    font-family: 'Love Ya Like A Sister';
    src: url('LoveYaLikeASister-myEa.ttf') format('truetype');
}

.custom-file-label {
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.custom-file-label:hover {
    background-color: #f5f5f5;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    border: 2px dashed #ccc;
    text-align: center;
    cursor: pointer;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.profile-picture label::after {
    content: "Select Profile Picture"; /* Set your custom text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Make sure the text doesn't interfere with clicking */
    font-family: sans-serif;
    object-fit: cover;
}

.profile-details {
    flex-grow: 1;
    width: calc(100% - 340px);
    padding-right: 20px;

}

.hobbies-group-one {
    padding-right: 20px;
}

.hobbies-group-two {
    padding-right: 20px;
}

.age-group {
    margin-top: 0;
}

.input-group {
    margin-bottom: 20px;
    padding-right: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-group input[type="text"],
.input-group textarea,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-group textarea {
    height: 100px;
}

.input-group input[type="text"] + input[type="text"],
.input-group input[type="text"] + textarea,
.input-group select + input[type="text"],
.input-group select + textarea {
    margin-left: 10px;
}

.input-group label {
    font-family: 'Love Ya Like A Sister', cursive;
}

.pic-boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 40px;
}

.pic-box-1, .pic-box-two, .pic-box-three {
    background-color: white;
    border-radius: 4px;
    padding: 0px;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;

    height: 100px;
    margin-bottom: 43px;
}

.pic-box-1 img, .pic-box-two img, .pic-box-three img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.profile-section::after {
    content: "";
    display: table;
    clear: both;
}
